<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexiang.xupdateservice.mapper.InnodbCmpResetMapper">
  <resultMap id="BaseResultMap" type="com.xuexiang.xupdateservice.model.InnodbCmpReset">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="page_size" jdbcType="INTEGER" property="pageSize" />
    <result column="compress_ops" jdbcType="INTEGER" property="compressOps" />
    <result column="compress_ops_ok" jdbcType="INTEGER" property="compressOpsOk" />
    <result column="compress_time" jdbcType="INTEGER" property="compressTime" />
    <result column="uncompress_ops" jdbcType="INTEGER" property="uncompressOps" />
    <result column="uncompress_time" jdbcType="INTEGER" property="uncompressTime" />
  </resultMap>
</mapper>