<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexiang.xupdateservice.mapper.PartitionsMapper">
  <resultMap id="BaseResultMap" type="com.xuexiang.xupdateservice.model.Partitions">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="PARTITION_NAME" jdbcType="VARCHAR" property="partitionName" />
    <result column="SUBPARTITION_NAME" jdbcType="VARCHAR" property="subpartitionName" />
    <result column="PARTITION_ORDINAL_POSITION" jdbcType="INTEGER" property="partitionOrdinalPosition" />
    <result column="SUBPARTITION_ORDINAL_POSITION" jdbcType="INTEGER" property="subpartitionOrdinalPosition" />
    <result column="PARTITION_METHOD" jdbcType="VARCHAR" property="partitionMethod" />
    <result column="SUBPARTITION_METHOD" jdbcType="VARCHAR" property="subpartitionMethod" />
    <result column="PARTITION_EXPRESSION" jdbcType="VARCHAR" property="partitionExpression" />
    <result column="SUBPARTITION_EXPRESSION" jdbcType="VARCHAR" property="subpartitionExpression" />
    <result column="TABLE_ROWS" jdbcType="BIGINT" property="tableRows" />
    <result column="AVG_ROW_LENGTH" jdbcType="BIGINT" property="avgRowLength" />
    <result column="DATA_LENGTH" jdbcType="BIGINT" property="dataLength" />
    <result column="MAX_DATA_LENGTH" jdbcType="BIGINT" property="maxDataLength" />
    <result column="INDEX_LENGTH" jdbcType="BIGINT" property="indexLength" />
    <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="CHECKSUM" jdbcType="BIGINT" property="checksum" />
    <result column="NODEGROUP" jdbcType="VARCHAR" property="nodegroup" />
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
    <result column="PARTITION_DESCRIPTION" jdbcType="LONGVARCHAR" property="partitionDescription" />
    <result column="PARTITION_COMMENT" jdbcType="LONGVARCHAR" property="partitionComment" />
  </resultMap>
</mapper>