<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexiang.xupdateservice.mapper.SchemataMapper">
  <resultMap id="BaseResultMap" type="com.xuexiang.xupdateservice.model.Schemata">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="catalogName" />
    <result column="SCHEMA_NAME" jdbcType="VARCHAR" property="schemaName" />
    <result column="DEFAULT_CHARACTER_SET_NAME" jdbcType="VARCHAR" property="defaultCharacterSetName" />
    <result column="DEFAULT_COLLATION_NAME" jdbcType="VARCHAR" property="defaultCollationName" />
    <result column="DEFAULT_ENCRYPTION" jdbcType="CHAR" property="defaultEncryption" />
    <result column="SQL_PATH" jdbcType="BINARY" property="sqlPath" />
  </resultMap>
</mapper>