<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexiang.xupdateservice.mapper.StUnitsOfMeasureMapper">
  <resultMap id="BaseResultMap" type="com.xuexiang.xupdateservice.model.StUnitsOfMeasure">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="CONVERSION_FACTOR" jdbcType="DOUBLE" property="conversionFactor" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>